.template-detail-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-color: #ffffff;
    margin: 20px auto;
    max-width: 1200px; 
  }
  
  .template-detail-content {
    flex: 1;
    padding: 20px;
    min-width: 300px;
    max-width: 600px; 
  }
  
  .template-detail-content h1 {
    color: #000000;
    margin-bottom: 20px;
    text-align: left;
    font-size: 3rem; 
  }
  
  .template-detail-content h2 {
    color: #585858;
    margin-bottom: 20px;
    text-align: left;
    font-size: 2.5rem; 
  }
  
  .template-detail-content p {
    margin-bottom: 20px;
    font-size: 1.8rem; 
    text-align: left;
  }
  
  .buttons {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .btn {
    padding: 10px 30px; 
    background-color: #0d45b6;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.5rem; 
  }
  
  .btn:hover {
    background-color: #0055ff;
  }
  
  .template-detail-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    max-width: 500px;
    margin: 0 auto; 
  }
  
  .template-detail-image img {
    width: 100%;
    height: auto;
    max-height: 400px; 
    object-fit: cover;
    border-radius: 8px;
  }
  
  @media (max-width: 1000px) {
    .template-detail-container {
      flex-direction: column;
      padding: 20px;
    }
  
    .template-detail-content {
      max-width: 100%;
      text-align: center;
    }
  
    .template-detail-image {
      margin-top: 20px;
      max-width: 100%;
    }
  
    .buttons {
      flex-direction: column;
      width: 100%;
      gap: 20px;
      align-items: center;

    }
  
    .btn {
      width: 200px;
      padding: 10px 100px; 
      align-content: center;
      font-size: 1.2rem; 
    }
  }