footer {
  width: 100%;
  padding: 50px 0px;
  font-family: 'Nunito', sans-serif;
  background-color: white;
  background-image: url("../assets/background-footer.svg");
  background-size: cover;
}

.container__footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  padding-top: 100px;
}

.box__footer {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.box__footer .logo h1 {
  color: #ffffff;
}

.box__footer .terms {
  max-width: 350px;
  margin-top: 20px;
  font-weight: 500;
  color: #c1c0c0;
  font-size: 18px;
}

.box__footer h2 {
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 700;
}

.box__footer a {
  margin-top: 10px;
  color: #c1c0c0;
  font-weight: 600;
  text-decoration: none;
}

.box__footer a:hover {
  opacity: 0.8;
  color: #ffffff;
}

.box__footer a .fab {
  font-size: 20px;
}

.box__copyright {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 40px;
}

.box__copyright p {
  margin-top: 20px;
  color: #ffffff;
}

.box__copyright hr {
  border: none;
  height: 1px;
  background-color: #787878;
}

@media only screen and (max-width: 1000px) {
  .container__footer {
    flex-direction: column;
    align-items: center;
  }

  .box__footer {
    text-align: center;
    padding: 5px;
    margin-bottom: 30px;
  }

  .box__footer .logo h1{
    text-align: center;
  }

  .box__footer h2 {
    margin-bottom: 20px;
  }

  .box__footer .terms {
    max-width: none;
  }

  .box__footer a {
    margin-top: 5px;
  }
}